<a href="https://colab.research.google.com/github/shar-mila00/Python_shar_mila/blob/main/Python_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""very important- join()""" #string_name.join(iterable) iterable- list, string, tuple, set, dictionary
print('-'.join("forever"))
print('^'.join(" forever "))
print('-'.join("lost you forever"))
print('# '.join(['lost', '', 'you', 'forever', 's2', '39', ''])) #will only join with string, no int/
print(' '.join(['lost', 'you', 'forever', 's2', '39'])) #will only join with string, no int/

print("-#-".join(('lost','you', 'forever'))) #tuple
print('#'.join({'lost','you', 'forever', 's2', '39'})) #set
print('-'.join({'Geek': 1, 'For': 2, 'Geeks': 3})) #will join with keys only, keys must be string

f-o-r-e-v-e-r
 ^f^o^r^e^v^e^r^
l-o-s-t- -y-o-u- -f-o-r-e-v-e-r
lost# # you# forever# s2# 39#
lost you forever s2 39
lost-#-you-#-forever
39#lost#forever#you#s2
Geek-For-Geeks

In [ ]:
a= "sunrise in her eyes"
print(a.count('s')) # Python String count() function returns the number of occurrences of a substring within a String.
print('Sunrises'.count('S'))

print(a.count('e', 7))
print(a.count('e', 7, 15)) #count(substring, start, end) (up to end-1) by default, 0 to len(string)-1

print("heart for heart".count('heart'))
print("heart for heart".count('heart', 0, 4))
print("heart for heart".count('heart', 0, 5))

3
1
3
1
2
0
1

In [ ]:
strings = ["Red", "Green", "orange"]
char_to_count = 'e'
total_count = sum(string.count(char_to_count) for string in strings)
print(total_count)

4

In [ ]:
v= "# These minefields are what I walk through#"
print(v.strip(" #")) #returns a copy of the string with both leading and trailing characters removed
print(v.strip(" are"))
print(" mine@ ".strip("@e "))

These minefields are what I walk through
# These minefields are what I walk through#
min

In [ ]:
print("  princess".lstrip()) #leading characters removes (based on the string argument passed), If no argument, it removes leading spaces.
print(" princess".lstrip("pr")) #string.lstrip(characters)
print("princess".lstrip("pric"))
print(" * princess".lstrip("* p"))
print("princess".lstrip("rin")) #won't remove any if leading character not passed

princess
 princess
ncess
rincess
princess

In [ ]:
s= "dancing in the loneliness"
print(s.upper())
print(s.capitalize()) #only capitalize first letter
print(s.title()) #capitalize first letter of every word - Title

print("don't smoke".title()) # non-alphabetic character is considered as the start of a new word

DANCING IN THE LONELINESS
Dancing in the loneliness
Dancing In The Loneliness
Don'T Smoke

In [ ]:
print("WAR".isupper())
print("WAR#".isupper())
print(" WAR".isupper())
print("WaR".isupper())
print("_WAR".isupper())

True
True
True
False
True

In [ ]:
print("Minefield".istitle())
print("MINE".istitle())
print("Minefield CRossing".istitle())
print("23 Is My Roll".istitle())

True
False
False
True

In [ ]:
print("WE ARE 1".title())
print("he's smart".title(), end=', ')
print("Expected: He's Smart")
print("i-want-it".title())

We Are 1
He'S Smart, Expected: He's Smart
I-Want-It

In [ ]:
s1= "Let Me walK upon tHe WateR 2"
print(s1.lower())
print(s1.casefold())

print("*ß".casefold())
print("*ß".lower())

let me walk upon the water 2
let me walk upon the water 2
*ss
*ß

In [ ]:
print("war".islower())
print("war#".islower())
print(" ar".islower())
print("War".islower())
print("_war".islower())

True
True
True
False
True

In [ ]:
a= "sunrise in her eyes" #Syntax:  string.center(length[, fillchar])
print(a)
print(a.center(25)) #length: length of the string after padding with the characters.

print(a.center(25, '#')) #fillchar: (optional) characters which need to be padded. If it’s not provided, space is taken as the default argument.
print(a.center(26, '!'))

print(a.center(12, '@')) #center() Method with length argument value less than original String length

sunrise in her eyes
   sunrise in her eyes
###sunrise in her eyes###
!!!sunrise in her eyes!!!!
sunrise in her eyes

In [ ]:
h= int(input())
print(True if h != 1 else False)

1
False

In [ ]:
s= "dancing in the loneliness"
print(s.endswith('ess')) #Syntax: str.endswith(suffix, start, end)
print(s.endswith('ess', 5)) #suffix, start, end- by default to the last+1
print(s.endswith('ess', 5, 15))

r= "lovesickness."
print(r.endswith('ess'))
print(r.endswith('ess.'))
print(r.endswith('ess.', 5, 11))

True
True
False
False
True
False

In [ ]:
s= "dancing\tin\tthe\tloneliness"
print("dancing in the loneliness")
print(s)
print(s.expandtabs())  #Syntax : expandtabs(space_size) #space_size can't be a float
print(s.expandtabs(-1))  #tabsize : Specifies the space that is to be replaced with the “\t” symbol in the string. By default the space is 8.
print(s.expandtabs(1))
print(s.expandtabs(-11))
print(s.expandtabs(11))

dancing in the loneliness
dancing	in	the	loneliness
dancing in      the     loneliness
dancingintheloneliness
dancing in the loneliness
dancingintheloneliness
dancing    in         the        loneliness

In [ ]:
print

In [ ]:
line= "if your heart is in agony, my heart too feels it"
print(line.find('heart')) #Returns the lowest index of the substring if it is found in a given string. If it’s not found then it returns -1
print(line.find('heart', 10))
print(line.find('heart', 10, 25)) #str_obj.find(substring, start, end)
print(line.find('agony, '))
print(line.find('o', 6))

string_index=0
count=0
sub= 'heart'
for i in range(len(line)):
    j= line.find(sub, string_index)
    if j != -1:
        string_index= j+1
        count+=1
print(count)

8
30
-1
20
22
2

In [ ]:
print("minefields".index("nef")) #the index of the first occurrence of an existing substring
print("minefields".index("nef",2))#(sunstring, start, end)
print("minefields".index("eld", -4, -1))
print("minefields".index("nef",3)) #error if not found

2
2
6

ValueError: substring not found

In [ ]:
k= "These minefields that I walk through"
k_list= ["minefields", "I", "walk", "risk"]
for i in k_list:
    if i in k:
        print(k.index(i))
    else:
        print("Not found")

print([k.index(i) if i in k else "Not found" for i in k_list])

6
22
24
Not found
[6, 22, 24, 'Not found']

In [ ]:
k= "These minefields that I walk through"
k_tuple= ("minefields", "I", "walk", "risk")
for i in k_tuple:
    try:
        in_dex= k.index(i)
        print(f"index of {i} is {in_dex}")
    except:
        print("{} not found".format(i))

index of minefields is 6
index of I is 22
index of walk is 24
risk not found

In [ ]:
"""formatting string"""
name= "Eddie"
age= 12
print("{} is only {} years old".format(name, age)) #Syntax : { } { } .format(value1, value2)

print("Learn {1} and dive into {0} {2}".format('Artificial', 'Python', 'Intellegence')) #{0} {1}.format(positional_argument, keyword_argument)
print("{gfg} is a {0} science portal for {1}".format("computer", "geeks", gfg="GeeksforGeeks"))

Eddie is only 12 years old
Learn Python and dive into Artificial Intellegence
GeeksforGeeks is a computer science portal for geeks

In [ ]:
"""modulo string formatting"""
name= "Amazon"
name1= "Google"
name2= "Facebook"
n= 3
print("One of %d big tech giants are %s, %s and %s" % (n, name, name1, name2)) #%s- string, %i/d- signed decimal integer

price= 45.67
print("It costs %d $ only" % (price)) # %f- float, %b- binary, %o- octal, %u- unsigned decimal integer,
print("It costs %f $ only" % (price))
print("It costs %.0f $ only" % (price))
print("It costs %.2f $ only" % (price))

One of 3 big tech giants are Amazon, Google and Facebook
It costs 45 $ only
It costs 45.670000 $ only
It costs 46 $ only
It costs 45.67 $ only

In [ ]:
"""formatting symbol"""
print("This site is {0:.3f}% securely {1}!!".format(100, "encrypted")) #Syntax : String {field_name:conversion} Example.format(value)

print("My average of this {} was {:.0f}%".format("semester", 78.534876))

print("The {} of 100 is {:b}".format("binary", 100)) #no float
print("The {0} of 100 is {1:o}".format("octal", 100))
print("The {0} of 45 is {1:x}".format("hexadecimal", 200)) #%x- hexadecimal (lowercase after 9)

print("The {0} of 300 is {1:X}".format("Hexadecimal", 200)) ##%X- hexadecimal (uppercase after 9)

This site is 100.000% securely encrypted!!
My average of this semester was 8e+01%
The binary of 100 is 1100100
The octal of 100 is 144
The hexadecimal of 45 is c8
The Hexadecimal of 300 is C8

In [ ]:
"""Padding Substitutions or Generating Spaces"""
l= [3, 45, 7, 88, 200, 56, 34, 2]

for i in l:
    print("The number is {:0>3d}".format(i)) #right align

The number is 003
The number is 045
The number is 007
The number is 088
The number is 200
The number is 056
The number is 034
The number is 002

In [ ]:
"""Padding Substitutions or Generating Spaces"""
l= [3, 45, 7, 88, 200, 56, 34, 2.1]

for i in l:
    print("{:<7} {:<7} {:<7}".format(i, i**2, i**3)) #left align

3       9       27
45      2025    91125
7       49      343
88      7744    681472
200     40000   8000000
56      3136    175616
34      1156    39304
2.1     4.41    9.261000000000001

In [ ]:
"""Padding Substitutions or Generating Spaces"""
l= [3, 45, 7, 88, 200, 56, 34, 2.1]

for i in l:
    print("{:7} {:7} {:7}".format(i, i**2, i**3)) #by default, right align

      3       9      27
     45    2025   91125
      7      49     343
     88    7744  681472
    200   40000 8000000
     56    3136  175616
     34    1156   39304
    2.1    4.41 9.261000000000001

In [ ]:
print(f"{44:.5f} {4.6:.5f}")
print(f"{44.56:.4} {4.6:.0f}")
print(f"{44.56:.0} {4.6:.0}")

44.00000 4.60000
44.56 5
4e+01 5e+00

In [ ]:
"""Padding Substitutions or Generating Spaces"""
l= [3, 45, 7, 88, 200, 56, 34, 2]

for i in l:
    print("{:<4}".format(i)) #left align

3
45
7
88
200
56
34
2

In [ ]:
"""Padding Substitutions or Generating Spaces"""
l= [3, 45, 7, 88, 200, 56, 34, 2]

for i in l:
    print("The number is {:^3}".format(i)) #center

The number is  3
The number is 45
The number is  7
The number is 88
The number is 200
The number is 56
The number is 34
The number is  2

In [ ]:
a_dict= {'x': 'Erina', 'y': 'Gomez'} #string.format_map(z)

#Here z is a variable in which the input dictionary is stored and string is the key of the input dictionary. input_dict: Takes a single parameter which is the input dictionary.
#Returns key’s values of the input dictionary.

print("{x}'s last name is {y}".format_map(a_dict))
print(a_dict['x']) #returns value

Erina's last name is Gomez
Erina

In [ ]:
def chk_msg(n):

    # input stored in variable a.
    a = {'name':"George", 'mesg':n}

    # use of format_map() function
    print('{name} has {mesg} new messages'.format_map(a))

chk_msg(10)

George has 10 new messages

In [ ]:
# Input dictionary
profession = { 'name':['Barry', 'Bruce'],
			'profession':['Engineer', 'Doctor'],
			'age':[30, 31] }

# Use of format_map() function
print('{name[0]} is an {profession[0]} and he'
	' is {age[0]} years old.'.format_map(profession))

print('{name[1]} is an {profession[1]} and he'
	' is {age[1]} years old.'.format_map(profession))
print(profession['name'])

Barry is an Engineer and he is 30 years old.
Bruce is an Doctor and he is 31 years old.
['Barry', 'Bruce']

In [ ]:
print("Aanb34".isalnum())
print("Aanb 345".isalnum())
print("3456".isalnum())
print("lo".isalnum() #alphanumeric)

True
False
True
True

In [ ]:
print("Arnab".isalpha())
print("EERER".isalpha())
print("akds9hj".isalpha()) #alphabet

True
True
False

In [ ]:
print("100".isdecimal())
print("100.90".isdecimal()) #only integer
print(str(5/3).isdecimal())
print(str(5//3).isdecimal())
print("100BD".isdecimal())

True
False
False
True
False

In [ ]:
"""isdecimal vs isdigit"""
expr = "4²"
print("expr isdigit()?", expr.isdigit()) #true

print("expr isdecimal()?", expr.isdecimal())

print("45.89".isdigit()) #only integer
print(str(5**0.5).isdecimal())
print(str(5**0.5).isdigit())
print(str(5/2).isdigit())

s = '\u00B23455' #'²3455' (superscript & subscript are written in unicode)

print(s.isdigit())
s = '\u00BD' ##'½' fraction is not a digit

print(s.isdigit())

expr isdigit()? True
expr isdecimal()? False
False
False
False
False
True
False

In [ ]:
"""isdecimal vs isnumeric"""
expr = "⅔"
print("expr isnumeric()?", expr.isnumeric())

print("expr isdecimal()?", expr.isdecimal())

print("45.990".isnumeric())
print(str(5/2).isnumeric())

expr isnumeric()? True
expr isdecimal()? False
False
False

In [ ]:
# isnumeric() returns an error if a parameter is passed
String = "1234567"

try:
	String.isnumeric("abc")
except TypeError:
	print("TypeError: isnumeric() takes no arguments (1 given)")

TypeError: isnumeric() takes no arguments (1 given)

In [ ]:
string1 = '123'
string2 = '⅓'
string3 = '²'
string4 = '2167' # 'Ⅷ'; ROMAN NUMERAL EIGHT

print(string1.isnumeric()) # True
print(string2.isnumeric()) # True
print(string3.isnumeric()) # True
print(string4.isnumeric()) # True

# float validation
number = 5.65
str_ing = str(number)
result = str_ing.replace('.', '', 1).isnumeric()
print(result)

True
True
True
True
True

In [ ]:
print("Coding_101".isidentifier()) # An identifier if only consists of alphanumeric characters and underscore (_)
print("Coding101".isidentifier())
print("Coding".isidentifier())
print("Coding 101".isidentifier())
print("11Coding_101".isidentifier())  #Doesn’t start with a space or a number
print(" Coding_101".isidentifier())
print("Coding_#101".isidentifier())

True
True
True
False
False
False
False

In [ ]:
print('My name is Ayush'.isprintable())
print('My name is \n Ayush'.isprintable()) #/n not printable
print("".isprintable())
print(" ".isprintable())

True
False
True
True

Digits ( 0123456789 ),
Uppercase letters ( ABCDEFGHIJKLMNOPQRSTUVWXYZ ),
Lowercase letters ( abcdefghijklmnopqrstuvwxyz ),
Punctuation characters ( !”#$%&'()*+, -./:;?@[\]^_`{ | }~ ),
Space ( ) - printable

In [ ]:
print("\n \t".isspace()) #returns “True” if all characters in the string are whitespace characters
print("m\nu".isspace())
print(" \f".isspace())

True
False
True

‘ ‘ – Space,
‘\t’ – Horizontal tab,
‘\n’ – Newline,
‘\v’ – Vertical tab,
‘\f’ – Feed,
‘\r’ – Carriage return - whitespace characters

In [ ]:
print("princess".rjust(15)) #right align, .rjust(length, fillcharacter), length of the modified string, if no fillcharacter, then space
print("princess".rjust(15, "$"))
print("princess".rjust(7, "%")) #if modified length<= actual length, returns actual string
print("princess".ljust(15))  #left align
print("princess".ljust(15, "$"))

       princess
$$$$$$$princess
princess
princess
princess$$$$$$$

In [ ]:
# specify to translate chars
str1 = "wy"

# specify to replace with
str2 = "gf"

# delete chars
str3 = "u"

# target string
trg = "weeksyourweeks"

# using maketrans() to
# construct translate
# table
table = trg.maketrans(str1, str2, str3)

# Printing original string
print ("The string before translating is : ", end ="")
print (trg)

# using translate() to make translations.
print ("The string after translating is : ", end ="")
print (trg.translate(table))

The string before translating is : weeksyourweeks
The string after translating is : geeksforgeeks

Syntax : maketrans(str1, str2, str3)

Parameters :
**str1** : Specifies the list of characters that need to be replaced.  
**str2** : Specifies the list of characters with which the characters need to be replaced.  
**str3** : Specifies the list of characters that needs to be deleted.

Returns : Returns the translation table which specifies the conversions that can be used by translate()